
<div class="row-fluid">
  <div class="col-md-12">
    <h3>Gestor de Usuários</h3>
  </div>
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <td>Nome completo</td>
        <td>Nome do usuário</td>
        <td>E-mail</td>
        <td width="75">Ações</td>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.collection">
          <td>{{ user.fullname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="#" (click)="edit(user.id)">
              <i class="material-icons">edit</i>
            </a>
            <a href="#"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        <tr *ngIf="users.collection.length === 0">
          <td colspan="5">
            Nenhum item registrado ate o momento.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="float-fab-btn-container">
  <button href="#" class="btn btn-fab btn-primary" (click)="create()">
    <i class="material-icons">add</i>
  </button>
</div>
