<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul *ngIf="session && !session.isAuthenticated" class="nav navbar-nav navbar-right">
    <li><a href="#">Registrar</a></li>
    <li><a href="#">Fazer Login</a></li>
  </ul>

  <ul *ngIf="session && session.isAuthenticated" class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ session.fullName }} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
    <li><a href="#">Fechar</a></li>
  </ul>
</div>
